{% if permisos_erp.terceros_ver %}
  <li class="nav-item dropdown">
    <a
      class="nav-link dropdown-toggle{% if request.resolver_match.namespace == 'terceros' %} active{% endif %}"
      href="#"
      role="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      Clientes y proveedores
    </a>
    <ul class="dropdown-menu">
      <li>
        <a class="dropdown-item" href="{% url 'terceros:tercero_list' %}">
          Clientes y proveedores
        </a>
      </li>
      <li><hr class="dropdown-divider"></li>
      <li>
        <a class="dropdown-item" href="{% url 'terceros:grupo_cliente_list' %}">
          Grupos de clientes
        </a>
      </li>
      <li>
        <a class="dropdown-item" href="{% url 'terceros:grupo_proveedor_list' %}">
          Grupos de proveedores
        </a>
      </li>
    </ul>
  </li>
{% endif %}

{% if permisos_erp.items_ver %}
  <li class="nav-item">
    <a
      class="nav-link{% if request.resolver_match.namespace == 'items' and request.resolver_match.url_name == 'item_list' %} active{% endif %}"
      href="{% url 'items:item_list' %}"
    >
      Productos y servicios
    </a>
  </li>
  <li class="nav-item">
    <a
      class="nav-link{% if request.resolver_match.url_name == 'categoria_list' %} active{% endif %}"
      href="{% url 'items:categoria_list' %}"
    >
      Categorías
    </a>
  </li>
  <li class="nav-item">
    <a
      class="nav-link{% if request.resolver_match.url_name == 'marca_list' %} active{% endif %}"
      href="{% url 'items:marca_list' %}"
    >
      Marcas
    </a>
  </li>
{% endif %}
